In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.decomposition import PCA
import pycountry_convert as pc
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import LabelEncoder

In [41]:
df = pd.read_csv("./FPData2.csv")
df.columns = ['Country', 'year', 'ladder', 'gdp', 'support', 
              'life_expec', 'freedom', 'generosity','corruption','positive', 'negative']

y = df.groupby('Country').count()
less = y[y['year'] <= 10].index.tolist()
df_update = df[~df['Country'].isin(less)]

#DROPPING 2005-2010 and 2020-2022 FROM DATAFRAME
year_list = range(2011, 2020)
df_11 = df_update[df_update['year'].isin(year_list)]

y1 = df_11.groupby('Country').count()
less = y1[y1['year'] <= 8].index.tolist()
df_update1 = df_11[~df_11['Country'].isin(less)]

df_update2 = df_update1.dropna()

In [25]:
def continent(country_name):
    country_alpha2 = pc.country_name_to_country_alpha2(country_name)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name

In [26]:
continent('Australia')

'Oceania'

In [27]:
def cont_val(continent):
    continents = ['Asia', 'Africa', 'North America', 'South America', 'Oceania', 'Europe']
    return continents.index(continent)

In [44]:
df_update2['Country'] = df_update2['Country'].replace({'Congo (Brazzaville)':'Congo'})
df_update2['Country'] = df_update2['Country'].replace({'Turkiye':'Turkey'})

df_update2['Continent'] = df_update2.apply(lambda row: continent(row.Country), axis=1)
df_update2['Continent'] = df_update2.apply(lambda row: cont_val(row.Continent), axis = 1)

df_update2

<ipython-input-44-c6276edb5db4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_update2['Country'] = df_update2['Country'].replace({'Congo (Brazzaville)':'Congo'})
<ipython-input-44-c6276edb5db4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_update2['Country'] = df_update2['Country'].replace({'Turkiye':'Turkey'})
<ipython-input-44-c6276edb5db4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_update2['Continent'] = df_update2.apply(lambda row: continent(row.Country), axis=1)
<ipython-input-44-c6276edb5db4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_update2['Continent'] = df_update2.apply(lambda row: cont_val(row.Continent), axis = 1)

,Country,year,ladder,gdp,support,life_expec,freedom,generosity,corruption,positive,negative,Continent
3,Afghanistan,2011,3.832,7.581,0.521,51.400,0.496,0.164,0.731,0.480,0.267,0
4,Afghanistan,2012,3.783,7.661,0.521,51.700,0.531,0.238,0.776,0.614,0.268,0
5,Afghanistan,2013,3.572,7.680,0.484,52.000,0.578,0.063,0.823,0.547,0.273,0
6,Afghanistan,2014,3.131,7.671,0.526,52.300,0.509,0.106,0.871,0.492,0.375,0
7,Afghanistan,2015,3.983,7.654,0.529,52.600,0.389,0.082,0.881,0.491,0.339,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2191,Zimbabwe,2015,3.703,7.747,0.736,51.200,0.667,-0.107,0.810,0.639,0.179,1
2192,Zimbabwe,2016,3.735,7.735,0.768,51.675,0.733,-0.079,0.724,0.685,0.209,1
2193,Zimbabwe,2017,3.638,7.754,0.754,52.150,0.753,-0.081,0.751,0.734,0.224,1
2194,Zimbabwe,2018,3.616,7.783,0.775,52.625,0.763,-0.051,0.844,0.658,0.212,1
2195,Zimbabwe,2019,2.694,7.698,0.759,53.100,0.632,-0.047,0.831,0.658,0.235,1

In [45]:
cont_an = df_update2.groupby('Continent').mean()

In [46]:
df_update2

,Country,year,ladder,gdp,support,life_expec,freedom,generosity,corruption,positive,negative,Continent
3,Afghanistan,2011,3.832,7.581,0.521,51.400,0.496,0.164,0.731,0.480,0.267,0
4,Afghanistan,2012,3.783,7.661,0.521,51.700,0.531,0.238,0.776,0.614,0.268,0
5,Afghanistan,2013,3.572,7.680,0.484,52.000,0.578,0.063,0.823,0.547,0.273,0
6,Afghanistan,2014,3.131,7.671,0.526,52.300,0.509,0.106,0.871,0.492,0.375,0
7,Afghanistan,2015,3.983,7.654,0.529,52.600,0.389,0.082,0.881,0.491,0.339,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2191,Zimbabwe,2015,3.703,7.747,0.736,51.200,0.667,-0.107,0.810,0.639,0.179,1
2192,Zimbabwe,2016,3.735,7.735,0.768,51.675,0.733,-0.079,0.724,0.685,0.209,1
2193,Zimbabwe,2017,3.638,7.754,0.754,52.150,0.753,-0.081,0.751,0.734,0.224,1
2194,Zimbabwe,2018,3.616,7.783,0.775,52.625,0.763,-0.051,0.844,0.658,0.212,1
2195,Zimbabwe,2019,2.694,7.698,0.759,53.100,0.632,-0.047,0.831,0.658,0.235,1

In [47]:
df_asia = df_update2.loc[(df_update2.Continent == 0)]

In [49]:
for i in range(len(continents)):
    df_cont = df_update2.loc[(df_update2.Continent == i)]
    happy = np.array(df_cont.iloc[:,2]).reshape(-1,1)
    
    X = np.array(df_cont.iloc[:,[3,4,5,6,7, 8, 9,10]])
    X_train, X_test, y_train, y_test = train_test_split(X,happy,test_size = 0.30)
    
    model = LinearRegression().fit(X_train,y_train)
    
    print('{a} train: {b}\n {a} test: {c}'.format(a=continents[i], b=model.score(X_train,y_train), c=model.score(X_test, y_test)))

Asia train: 0.6975458171419928
 Asia test: 0.7519329537510594
Africa train: 0.22547333219005938
 Africa test: 0.12564617808695044
North America train: 0.6557179871719232
 North America test: 0.6537435521941457
South America train: 0.7589558716293358
 South America test: 0.7039678040393023
Oceania train: 0.8899387477786418
 Oceania test: -0.11292054255543538
Europe train: 0.8357185778928465
 Europe test: 0.7670469229458657